# adafruit-ampy==1.1.0  # Note: ampy version from pypi is too old to include feature progress: using package adafruit-ampy-master.
adafruit-ampy-master==2022.4.22
terminal-s==0.2.0
pyserial==3.5
PyYAML==6.0
fire==0.5.0
